html{
	font-family: caviar dreams;
}
body{
	background:white;
	margin: 0;
	padding: 0;
}
.nav{
	background-color: #707B7C 
	;
	height: 60px;
	width: 100%;
	display:initial;
	line-height: 60px;
	position: absolute;
	margin: 0;
	padding: 0;
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.27);
}
.nav a{
	text-decoration: none;
	color: #fff;
}
.nav .nav-btn{
	float: left;
	font-size: 30px;
	margin-left: 1em;
}
.nav ul{
	list-style: none;
	margin: 0;
	float: right;
	padding: 0;
	color: #fff;
	font-weight: bold;
}
.nav li{
	display: inline-block;
	text-align: center;
	padding: 0px 22px;
	text-decoration: none;
}
.logo{
	width: 250px;
	height: 100px;
	margin: 10px;
	border-radius: 100px;	
}
li{
	display: inline-block;
	padding: 10px;
}
.header{
	color: #707B7C ;
	padding: 0;
	margin: 0;
	background-image: url(image/10790.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 700px;
	text-align: center;
	margin-bottom: 50px;
}
h1{
	font-size: 56px;
}
.header img{
	height: 100px;
}
.header a{
	background-color: white;
}
.header h1{
	padding: 5.00em 0 0 0;
	margin: 0;
	clear: both;
}
.header_btn{
	color: #000;
	text-decoration: none;
	font-weight: bold;
	height: auto;
}
.header a p{
	background-color: white;
	width: 180px;
	padding: 0.80em 35px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100px;
}
.header a p:hover{
	background-color: grey;
	color: #fff;
}
.title{
	width: 100%;
} 
.container{
	max-width: 1220px;
	margin:auto;
	background: #fff;
	overflow: auto;
	margin-bottom: 50px;
}
.gallery{
	margin: 5px;
	border: 3px solid #ccc;
	float: left;
	width: 280px;
}
.gallery img{
	width: 280px;
	height: 200px;
}
.desc{
	padding: 15px;
	text-align: left;
	font-size: 14px;
}
.btn button{
	float: right;
	border-radius: 100px;
	background: #000;
	color: #fff;
	padding: 0.80em 35px;
	margin-bottom: 10px;
	margin-left: 1em;
}
.btn1 button{
	float: center;
	border-radius: 50px;
	background: #E74C3C;
	color: #fff;
	padding: 0.50em 15px;
	margin-bottom: 10px;
	margin-left: 1em;
}
.container2{
	max-width: 1200px;
	margin:auto;
	background: #fff;
	overflow: auto;
	margin-bottom: 50px;
}
.gallery2{
	float: left;
	width: 390px;
}
.gallery2 img{
	width: 300px;
	height: 200px;
}
.title2{
	max-width: 1110px;
}
.desc2{
	font-size: 14px;
	color: #0283DF;
}
footer{
	font-family: 'Libre Franklin', sans-serif;
        float: center;
        color: black;
}
.btn2 button{
	float: left;
	border-radius: 100px;
	background: #000;
	color: #fff;
	margin-top: 30px;
	padding: 0.80em 35px;
	margin-bottom: 10px;
	margin-left: 1em;

}
.line-break{
	border: 1px solid #000;
	height: 0;
	margin-bottom:-30px; 
}